<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Joaquin Forero">
        <link rel="shortcut icon" href="" />

        <meta name="theme-color" content="#000000" />

        <title>Talenta365 - Regiones </title>

        {# Cargamos la librería #}
        {% load bootstrap4 %}

        {# CSS Bootstrap #}
        {% bootstrap_css %}

        {# Archivos #}
        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    </head>

  <body>

    <main role="main">

        <div class="container text-center mt-5">

            <div class="row mb-4">
                <div class="col-md-12">
                  <h1 style="font-size: 28px;">Prueba Talenta365 Joaquin Forero </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {% block title_list %}
                    {% endblock %}
                </div>
            </div>

            <div class="row mb-5">

                <div class="card col-md-3">
                    <h6 class="mt-4"><strong>Menú</strong></h6>
                    <ul class="list-group list-group-flush">
                        <a href="/excel/"><li class="list-group-item">Calcular columna excel</li></a>
                        <a href="/regions/"><li class="list-group-item">Regiones</li></a>
                        <a href="/municipalities/"><li class="list-group-item">Municipios</li></a>
                    </ul>
                </div>

                <div class="col-md-9">
                    {% block content %}
                    {% endblock %}
                </div>

            </div>

        </div>

    </main>


    {# JS y jQuery Bootstrap #}
    {% bootstrap_javascript jquery='full' %}
    <script src="{% static 'js/app.js' %}"></script>
    <script type="text/javascript">
        function delete_item() {
          var x = confirm("Eliminar item ?");
          if (x)
            return true;
          else
            return false;
        }
    </script>

  </body>
</html>