{% extends 'layouts/base.html' %}
{% block title_list %}
    <h5>Calcular # de columna</h5>
{% endblock %}
{% block content %}
    <form id="excel" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <label for="name" class="txt_negrita">Por favor incluya el número</label>
            <input type="tel" name="number" class="form-control" required minlength="1" maxlength="6">
        </div>

        <button type="submit" class="btn btn-primary">Calcular</button>

    </form>
{% endblock %}