{% extends 'layouts/base.html' %}
{% block content %}
    <nav aria-label="breadcrumb mb-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../">Municipios</a></li>
            <li class="breadcrumb-item"><a href="#">Editar</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ object.name }}</a></li>
        </ol>
    </nav>
    <form method="post" enctype="multipart/form-data">

        {#    Pasamos el 'csrf_token' de seguridad para poder crear un nuevo registro#}
        {% load widget_tweaks %}
        {% csrf_token %}

        <!-- {{ form.as_p }} -->
        <div class="form-group">
            <label for="name" class="txt_negrita">Nombre</label>
            {{ form.name|add_class:"form-control" }}
        </div>

        <div class="form-group">
            <label for="name" class="txt_negrita">Región</label>
            {{ form.region|add_class:"form-control" }}
        </div>

        <div class="form-group">
            <label for="status" class="txt_negrita">Estado</label><br>
            {{ form.status|add_class:"form-control" }}
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="../" type="submit" class="btn btn-primary">Regresar</a>

    </form>
{% endblock %}
