{% extends 'layouts/base.html' %}
{% block content %}
    <nav aria-label="breadcrumb mb-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Regiones</a></li>
            <li class="breadcrumb-item"><a href="#">Crear</a></li>
        </ol>
    </nav>
    <form method="post" enctype="multipart/form-data">

        {#    Pasamos el 'csrf_token' de seguridad para poder crear un nuevo registro#}
        {% csrf_token %}

        <!-- {{ form.as_p }} -->
        {% load widget_tweaks %}
        <div class="form-group">
            <label for="name" class="txt_negrita">Nombre</label>
            {{ form.name|add_class:"form-control" }}
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="./" type="submit" class="btn btn-primary">Regresar</a>

    </form>
{% endblock %}
