{% extends 'layouts/base.html' %}
{% block content %}
    <nav aria-label="breadcrumb mb-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Regiones</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detalle</li>
        </ol>
    </nav>

    <div class="formulario" align="left">

        <h4>Detalles</h4>

        <p><span class="txt_negrita">Nombre:</span> <br> {{object.name}}</p>

        <a href="../" type="button" class="btn btn-primary">Volver</a>

    </div>
{% endblock %}