{% extends 'layouts/base.html' %}
{% block title_list %}
    <h5>Lista de Regiones</h5>
{% endblock %}
{% block content %}
{% if messages %}
    <ul class="messages list-group mb-3">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<div align="left" class="btn_crear mb-3">
    <a href="create" type="button" class="btn btn-primary">Crear</a>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th width="80">ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>

    <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'region' y los listamos -->
    {% for region in object_list %}
        <tr>
            <td>{{ region.id }}</td>
            <td>{{ region.name }}</td>
            <td>

            <!-- Usaremos un formulario que realizará la tarea de eliminar un registro desde la misma tabla HTML -->
                <form method="POST" action="delete/{{region.id}}">
                    {% csrf_token %}
                    <div class="btn-group">
                        <!-- Creamos 3 botones que son ver, Editar y Eliminar, nos sirven para gestionar nuestros registros o postres -->
                        <a href="detail/{{region.id}}" title="Ver" type="button" class="btn btn-success">Ver </a>
                        <a href="edit/{{region.id}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
                        <button class="btn btn-danger" onclick="return delete_item();" type="submit">
                          Eliminar
                        </button>
                    </div>
                </form>

            </td>
        </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}